wsdl/CETransactionEnquiry.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ax29="http://beans.transactionEnquiry.ws.ce.alansari.com/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://service.transactionEnquiry.ws.ce.alansari.com" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://service.transactionEnquiry.ws.ce.alansari.com">
    <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax210="http://beans.transactionEnquiry.ws.ce.alansari.com/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.transactionEnquiry.ws.ce.alansari.com">
            <xs:import namespace="http://beans.transactionEnquiry.ws.ce.alansari.com/xsd"/>
            <xs:element name="transactionEnquiry">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="request" nillable="true" type="ax29:TransactionEnquiryRequestBean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="transactionEnquiryResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax29:TransactionEnquiryResponseBean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://beans.transactionEnquiry.ws.ce.alansari.com/xsd">
            <xs:complexType name="TransactionEnquiryRequestBean">
                <xs:sequence>
                    <xs:element minOccurs="0" name="agentCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="agentRefNum" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="ceNumber" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="txnOriginatingAgentCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="TransactionEnquiryResponseBean">
                <xs:sequence>
                    <xs:element minOccurs="0" name="agentCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="agentRefNum" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="ceNumber" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="responseCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="responseDesc" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="txnOriginatingAgentCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="transactionEnquiryRequest">
        <wsdl:part name="parameters" element="ns:transactionEnquiry"/>
    </wsdl:message>
    <wsdl:message name="transactionEnquiryResponse">
        <wsdl:part name="parameters" element="ns:transactionEnquiryResponse"/>
    </wsdl:message>
    <wsdl:portType name="CETransactionEnquiryPortType">
        <wsdl:operation name="transactionEnquiry">
            <wsdl:input message="ns:transactionEnquiryRequest" wsaw:Action="urn:transactionEnquiry"/>
            <wsdl:output message="ns:transactionEnquiryResponse" wsaw:Action="urn:transactionEnquiryResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CETransactionEnquirySoap11Binding" type="ns:CETransactionEnquiryPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="transactionEnquiry">
            <soap:operation soapAction="urn:transactionEnquiry" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CETransactionEnquirySoap12Binding" type="ns:CETransactionEnquiryPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="transactionEnquiry">
            <soap12:operation soapAction="urn:transactionEnquiry" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CETransactionEnquiryHttpBinding" type="ns:CETransactionEnquiryPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="transactionEnquiry">
            <http:operation location="transactionEnquiry"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CETransactionEnquiry">
        <wsdl:port name="CETransactionEnquiryHttpSoap11Endpoint" binding="ns:CETransactionEnquirySoap11Binding">
            <soap:address location="http://cetrn.cashexpress.com:9102/CEWebservices/services/CETransactionEnquiry.CETransactionEnquiryHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="CETransactionEnquiryHttpSoap12Endpoint" binding="ns:CETransactionEnquirySoap12Binding">
            <soap12:address location="http://cetrn.cashexpress.com:9102/CEWebservices/services/CETransactionEnquiry.CETransactionEnquiryHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="CETransactionEnquiryHttpEndpoint" binding="ns:CETransactionEnquiryHttpBinding">
            <http:address location="http://cetrn.cashexpress.com:9102/CEWebservices/services/CETransactionEnquiry.CETransactionEnquiryHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
